html{
    font-family:sans-serif;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%
}

body{margin:0}

@media(min-width:768px) {
    /*.map-order {*/
        /*position: relative;*/
        /*top: 0;*/
	    /*left: 0;*/
    /*}*/

    .map-order-container {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        padding-top: 6em;
        padding-bottom: 6em;
        align-items: center;
        /*  На передний план */
        z-index: 1;
        /* Прозрачность */
        opacity: 0.8;
    }

    .map-order-box {
        margin: 8px 10px 0 auto;
        padding: 1em 2em 2em;
        background-color: #fff;
        box-shadow: 0 0 8px;
        width: 20em;
        max-width: 100%;
        min-width: 420px;
        height: auto;
    }
}