### Python ###
*.py[cod]

### Translations ###
*.mo
*.pot

### Django ###
*.log
.idea
**/migrations/
.sass-cache

### Vue ###
.DS_Store
node_modules/
package-lock.json
webpack-stats.json
**/static/dist/
VueProject/public/

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
