### Python ###
# Byte-compiled / optimized / DLL files
*.py[cod]

### Translations ###
*.mo
*.pot

### Django ###
*.log
.idea
RentBike/migrations/
Profile/migrations/
.sass-cache
static/dist/

### Vue ###
.DS_Store
node_modules/
package-lock.json
webpack-stats.json

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln