### Python ###
# Byte-compiled / optimized / DLL files
*.py[cod]

### Translations ###
*.mo
*.pot

### Django ###
*.log
.idea
RentBike/migrations/
Profile/migrations/
.sass-cache
static/static_root/

### Vue ###
VueProject/.DS_Store
VueProject/node_modules/
RentBike/static/js/build.js
VueProject/package-lock.json
webpack-stats.json

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln