{% load staticfiles %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Rent Bike with QUICKBIKE.CO" />
	<meta name="keywords" content="rent bike, free bike, quick bike" />
	<meta name="author" content="QUICKBIKE.CO" />

   	<title>QuickBike</title>

	<!-- Place favicon.ico -->
	<link rel="shortcut icon" href="{% static "images/bikecuny_favicon.ico" %}">

	<!-- Stylesheets -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

</head>

<body>
<div >
	<div >

        <div id="app"></div>
        {% render_bundle 'main' %}

	    <div >
        {% block navbar %} {% endblock %}
        </div>

        {% block page %} {% endblock %}

        <footer class="fh5co-bg-color">
        {% block footer %} {% endblock %}
        </footer>
    </div>
</div>

	<!-- Javascripts -->
{#    <script src="{% static "js/build.js" %}"></script>#}

</body>
</html>