{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Rent Bike with QUICKBIKE.CO" />
	<meta name="keywords" content="rent bike, free bike, quick bike" />
	<meta name="author" content="QUICKBIKE.CO" />

   	<title>QuickBike</title>

	<!-- Place favicon.ico -->
	<link rel="shortcut icon" href="{% static "images/bikecuny_favicon.ico" %}">

	<!-- Stylesheets -->
	<!-- Bootstrap -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
	<!-- Custom -->
    <link href="{% static "css/custom_class.css" %}" rel="stylesheet">
</head>

<body>
<div >
	<div >
	    <div >
        {% block navbar %} {% endblock %}
        </div>

        {% block page %} {% endblock %}

        <footer class="fh5co-bg-color">
        {% block footer %} {% endblock %}
        </footer>
    </div>
</div>

	<!-- Javascripts -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>

</body>
</html>