{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}
<div id="app"></div>
{% endblock %}

{% block page %}
<section class="map-order">

<!-- Add Google Maps -->
<div id="googleMap"></div>
<script src="{% static 'js/google_map.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5XIFkcMz1v5ljV-43Tae2Z917rVWt14Q&callback=initMap"></script>

    <!-- Add the window of order -->
{#    <div class="map-order-container">#}
{#        <div class="map-order-box">#}
{#            <form method="post" action="{% url 'rent_bike:index' %}">#}
{#                {% csrf_token%}#}
{#                <table>#}
{#                    {{ form.as_table }}#}
{#                </table>#}
{##}
{#                <button onclick="prev_order('{{ form.time_from.value }}', '{% url "rent_bike:prev_order" %}')">Submit</button>#}
{#            </form>#}
{#        </div>#}
{#    </div>#}
</section>

{% endblock %}

{% block footer %}
{% endblock %}